// Variables
$website-width: 1280px;
$main-color: #8334eb;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$secondary-color: #e803fc;
$bgimage: url(/dist/img/me.jpg);

// Set text color this function allows the system to automatically choose an opposite color to whatever the other color inputted is

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
